<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search form -->
      <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search"  placeholder="Search" type="text" autocomplete="off">
          </div>
        </div>
        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </form>
      <li class="nav-item">
        <div class="input-group">
          <input type="text" id="datePicker" class="form-control" placeholder="Sélectionner une date">
        </div>
      </li>
      <div class=" city-selector">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="cityDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sélectionnez une ville
          </button>
          <div class="dropdown-menu" aria-labelledby="cityDropdown">
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="dijon"> Dijon
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="marseille"> Marseille
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="toulouse"> Toulouse
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="bordeaux"> Bordeaux
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="paris"> Paris
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="lille"> Lille
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="lyon"> Lyon
              </a>
          </div>
      </div>  
   </div>    
      <style>
        
        .city-selector {
          margin-left: 10px; 
        }

        .nav-item {
          list-style: none; /* Eliminar el ::marker en elementos de lista con la clase .nav-item */
         }
      </style>
     
     <div class="input-group-append">
      <button id="confirmDate" class="btn btn-primary">Confirmer</button>
      <button id="cancelDate" class="btn btn-warning">Annuler</button>
    </div> 
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">
         <!-- <li class="nav-item d-xl-none">
          
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li> -->
        <li class="nav-item d-sm-none">
          <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
            <i class="ni ni-zoom-split-in"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item">
            <a class="nav-link pr-0" >
                <div class="media align-items-center">
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold">
                            {{ selected_option }}
                        </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <script>
        function updateSelectedOption(option) {
            document.getElementById("option").innerHTML = option;
        }
    </script>
    </div>

  </div>
</nav>

<div id="dynamic-content"></div>



<link rel="stylesheet" href="static/assets/datepick/flatpickr/dist/flatpickr.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

<script src="static/assets/datepick/flatpickr/dist/flatpickr.min.js"></script>

<script src="/static/assets/js/main.js"></script>

<script src="/static/assets/js/websocket.js"></script>

<script> 
document.addEventListener("DOMContentLoaded", function () {
  var selectedDate = null; // Variable pour stocker la date sélectionnée

  var datePickerInput = document.getElementById("datePicker");

  flatpickr("#datePicker", {
    mode: "range",
    dateFormat: "d/m/Y",
    minDate: null,
    enableTime: false,
    onClose: function (selectedDates, dateStr, instance) {
      // Lorsque le calendrier est fermé, sauvegarder la date sélectionnée
      selectedDate = dateStr;
    },
  });

  datePickerInput.addEventListener("click", function (event) {
    event.stopPropagation(); // Éviter que le clic se propage au body
  });

  document.getElementById("confirmDate").addEventListener("click", function () {
    var selectedCity = null; 

    var checkboxes = document.querySelectorAll('.city-selector input[type="checkbox"]');
    var ciudadesSeleccionadas = [];

    checkboxes.forEach(function (checkbox) {
      if (checkbox.checked) {
        ciudadesSeleccionadas.push(checkbox.id);
      }
    });

    // Si no se ha seleccionado ninguna ciudad, establecer selectedCity en null
    selectedCity = ciudadesSeleccionadas.length > 0 ? ciudadesSeleccionadas : null;

    if (selectedDate || selectedCity) {
      console.log("Date sélectionnée:", selectedDate);
      console.log("Date sélectionnée:", selectedCity);
      alert("Vous avez sélectionné la date et ville : " + selectedDate + " "+ selectedCity) ;
      sendFiltersDataToServer(selectedDate, selectedCity); // Envoyer la date au serveur en utilisant WebSockets
    } else {
      console.log("Aucune date et ville sélectionnée");
      alert("Veuillez sélectionner une date et ville avant de confirmer.");
    }
  });

  document.getElementById("cancelDate").addEventListener("click", function () {
    console.log("Sélection de date annulée");
    selectedDate = null; // Réinitialiser la date sélectionnée
    selectedCity = null;
  });


});
</script>



