<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search form -->
      <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search"  placeholder="Search" type="text" autocomplete="off">
          </div>
        </div>
        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </form>
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">
         <!-- <li class="nav-item d-xl-none">
          
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li> -->
        <li class="nav-item d-sm-none">
          <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
            <i class="ni ni-zoom-split-in"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dateDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-ungroup"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dateDropdown">
            <div class="p-4">
              <input type="text" id="datePicker" class="form-control mb-2" placeholder="Selectionner une date">
              <div>
                <button id="confirmDate" class="btn btn-primary mr-2">Confirmer</button>
                <button id="cancelDate" class="btn btn-warning">Annuler</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="media align-items-center">
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold">
                            <span id="option">Admin</span>
                        </span>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" onclick="updateSelectedOption('Merchant')">Merchant</a>
                <a class="dropdown-item" href="#" onclick="updateSelectedOption('Coursier')">Coursier</a>
                <a class="dropdown-item" href="#" onclick="updateSelectedOption('Dispatcher')">Dispatcher</a>
                <a class="dropdown-item" href="#" onclick="updateSelectedOption('Admin')">Admin</a>
            </div>
        </li>
      </ul>

    <script>
        function updateSelectedOption(option) {
            document.getElementById("option").innerHTML = option;
        }
    </script>
    </div>

  </div>
</nav>

<div id="dynamic-content"></div>



<link rel="stylesheet" href="static/assets/node_modules/flatpickr/dist/flatpickr.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

<script src="static/assets/node_modules/flatpickr/dist/flatpickr.min.js"></script>

<script> 
document.addEventListener("DOMContentLoaded", function () {
  var selectedDate = []; // Variable pour stocker la date sélectionnée

  var datePickerInput = document.getElementById("datePicker");
  var dateDropdown = document.getElementById("dateDropdown");

  flatpickr("#datePicker", {
    mode: "range",
    dateFormat: "d/m/Y",
    minDate: null,
    enableTime: false,
    onClose: function (selectedDates, dateStr, instance) {
      // Lorsque le calendrier est fermé, sauvegarder la date sélectionnée
      selectedDate = dateStr;
    },
  });

  // Ajouter un événement clic au body pour détecter les clics n'importe où dans le document
  document.body.addEventListener("click", function (event) {
    if (!dateDropdown.contains(event.target)) {
      // Fermer le menu déroulant si cliqué en dehors
      dateDropdown.classList.remove("show");
    }
  });

  datePickerInput.addEventListener("click", function (event) {
    event.stopPropagation(); // Éviter que le clic se propage au body
  });

  document.getElementById("confirmDate").addEventListener("click", function () {
    if (selectedDate) {
      console.log("Date sélectionnée:", selectedDate);
      alert("Vous avez sélectionné la date : " + selectedDate);
      envoyerDateSelectionnee(selectedDate); // Envoyer la date au serveur en utilisant WebSockets
      dateDropdown.classList.remove("show"); // Fermer le menu déroulant après confirmation
    } else {
      console.log("Aucune date sélectionnée");
      alert("Veuillez sélectionner une date avant de confirmer.");
    }
  });

  document.getElementById("cancelDate").addEventListener("click", function () {
    console.log("Sélection de date annulée");
    selectedDate = null; // Réinitialiser la date sélectionnée
    dateDropdown.classList.remove("show"); // Fermer le menu déroulant après annulation
  });

  // Ici, vous configureriez la connexion WebSocket et ses événements correspondants
  var socket = new WebSocket("ws://127.0.0.1:8000/ws/co2_updates/");
  socket.addEventListener("open", function (event) {
    console.log("Connexion WebSocket établie");
  });
  socket.addEventListener("message", function (event) {
    console.log("Message reçu via WebSocket :", event.data);
  });

  // Fonction pour envoyer la date sélectionnée au serveur via WebSockets
  function envoyerDateSelectionnee(selectedDate) {
    socket.send(JSON.stringify({ type: "date", value: selectedDate }));
  }
});
</script>
<script src="/static/assets/js/main.js"></script>

