<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Search form -->
      <form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
        <div class="form-group mb-0">
          <div class="input-group input-group-alternative input-group-merge">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input class="form-control" id="search"  placeholder="Search" type="text" autocomplete="off">
          </div>
        </div>
        <button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </form>
      <li class="nav-item">
        <div class="input-group">
          <input type="text" id="datePicker" class="form-control" placeholder="Sélectionner une date">
        </div>
      </li>
      <div class=" city-selector">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="cityDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sélectionnez une ville
          </button>
          <div class="dropdown-menu" aria-labelledby="cityDropdown">
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="dijon"> Dijon
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="marseille"> Marseille
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="toulouse"> Toulouse
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="bordeaux"> Bordeaux
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="paris"> Paris
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="lille"> Lille
              </a>
              <a class="dropdown-item" href="#">
                  <input type="checkbox" id="lyon"> Lyon
              </a>
          </div>
      </div>  
   </div>    
      <style>
        
        .city-selector {
          margin-left: 10px; 
        }

        .nav-item {
          list-style: none; /* Eliminar el ::marker en elementos de lista con la clase .nav-item */
         }
      </style>
   <div class="period-selector">
     <div class="dropdown" id="navbar-dropdown-calendar">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fas fa-calendar"></i>
        <span id="selected-period"></span>
      </button> 
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#" data-period="Journalier">
          <i class="fas fa-calendar-day"></i> Journalier
        </a></li>
        <li><a class="dropdown-item" href="#" data-period="Hebdomadaire">
          <i class="fas fa-calendar-week"></i> Hebdomadaire
        </a></li>
        <li><a class="dropdown-item" href="#" data-period="Mensuel">
          <i class="fa-regular fa-calendar"></i> Mensuel
        </a></li>
      </ul>
    </div>
  </div>
    <script>
      // Obtiene el botón desplegable.
      const dropdown = document.querySelector("#navbar-dropdown-calendar");
    
      // Obtiene el elemento que mostrará el periodo seleccionado.
      const selectedPeriodElement = document.querySelector("#selected-period");
    
      // Establece el periodo seleccionado por defecto.
      selectedPeriodElement.textContent = "Journalier";
    
      // Agrega un evento de clic a cada opción de la lista desplegable.
      dropdown.querySelectorAll(".dropdown-item").forEach((item) => {
        item.addEventListener("click", () => {
          // Obtiene el periodo seleccionado.
          const selectedPeriod = item.getAttribute("data-period");
    
          // Establece el periodo seleccionado en el botón.
          selectedPeriodElement.textContent = selectedPeriod;
        });
      });
    </script>
    
     <div class="input-group-append">
      <button id="confirmDate" class="btn btn-primary">Confirmer</button>
      <button id="cancelDate" class="btn btn-warning">Annuler</button>
    </div> 
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">
         <!-- <li class="nav-item d-xl-none">
          
          <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </li> -->
        <li class="nav-item d-sm-none">
          <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
            <i class="ni ni-zoom-split-in"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item">
            <a class="nav-link pr-0" >
                <div class="media align-items-center">
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm font-weight-bold">
                            {{ selected_option }}
                        </span>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <script>
        function updateSelectedOption(option) {
            document.getElementById("option").innerHTML = option;
        }
    </script>
    </div>

  </div>
</nav>

<div id="dynamic-content"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>



<script> 
document.addEventListener("DOMContentLoaded", function () {
  var selectedDate = null; // Variable pour stocker la date sélectionnée
  var selectedCity = null; // Variable pour stocker la ville sélectionnée
  var selectedPeriod = "Journalier"; // Variable pour stocker la période sélectionnée initialement

  var datePickerInput = document.getElementById("datePicker");
  var confirmDateButton = document.getElementById("confirmDate");
  var cancelDateButton = document.getElementById("cancelDate");

  // Configurer le calendrier flatpickr
  flatpickr("#datePicker", {
    mode: "range",
    dateFormat: "d/m/Y",
    minDate: null,
    enableTime: false,
    onClose: function (selectedDates, dateStr, instance) {
      // Lorsque le calendrier est fermé, sauvegarder la date sélectionnée
      selectedDate = dateStr;
    },
  });

  datePickerInput.addEventListener("click", function (event) {
    event.stopPropagation(); // Éviter que le clic se propage au body
  });

  // Gestionnaire d'événements pour les éléments du menu déroulant de la période
  var dropdownItems = document.querySelectorAll(".dropdown-item");
  dropdownItems.forEach(function (item) {
    item.addEventListener("click", function () {
      // Obtenir la période sélectionnée
      selectedPeriod = item.getAttribute("data-period");
    });
  });

  confirmDateButton.addEventListener("click", function () {
    var checkboxes = document.querySelectorAll(".city-selector input[type='checkbox']");
    var selectedCities = [];

    checkboxes.forEach(function (checkbox) {
      if (checkbox.checked) {
        selectedCities.push(checkbox.id);
      }
    });

    // Si aucune ville n'est sélectionnée, définir selectedCity sur null
    selectedCity = selectedCities.length > 0 ? selectedCities : null;

    if (selectedDate || selectedCity || selectedPeriod) {
      console.log("Date sélectionnée:", selectedDate);
      console.log("Ville sélectionnée:", selectedCity);
      console.log("Période sélectionnée:", selectedPeriod);
      alert("Vous avez sélectionné la date, la ville et la période : " + selectedDate + " " + selectedCity + " " + selectedPeriod);
      sendFiltersDataToServer(selectedDate, selectedCity, selectedPeriod); // Envoyer la date au serveur en utilisant WebSockets
    } else {
      console.log("Aucune date, ville ni période sélectionnée");
      alert("Sélectionnez une date, une ville et une période avant de confirmer.");
    }
  });

  cancelDateButton.addEventListener("click", function () {
    console.log("Sélection de date annulée");
    selectedDate = null; // Réinitialiser la date sélectionnée
    selectedCity = null; // Réinitialiser la ville sélectionnée
    selectedPeriod = "Journalier"; // Réinitialiser la période sélectionnée
  });
});

</script>



