{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">

          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Livraisons terminées</h5>
                      <span class="h2 font-weight-bold mb-0" id="number_of_deliveries">{{number_of_deliveries}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-delivery-fast"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" id="value_e">CO2 économisé soit {{value_e}} kg</h5>
                      <span class="h2 font-weight-bold mb-0" id="porcentage_e">{{porcentage_e}}%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-world"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" id="value_km">Distance économisé soit {{value_km}} km</h5>
                      <span class="h2 font-weight-bold mb-0" id="porcentage_km" >{{porcentage_km}}%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-apple text-white rounded-circle shadow">
                        <i class="fa-solid fa-road"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0" id="value_h" >Temps économisé soit {{value_h}}h</h5>
                      <span class="h2 font-weight-bold mb-0" id="porcentage_h">{{porcentage_h}}%</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
                        <i class="ni ni-time-alarm"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card bg-default">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Rédigé par Deki ©</h6>
                  <h5 class="h3 mb-0"  id="graph-title">Émissions de CO2 par type de véhicule (kg)</h5>
                </div>
                <div class="col">
                  <ul class="nav nav-pills justify-content-end">
                    <button id="co2-button" class="btn btn-primary">CO2</button>
                    <button id="metano-button" class="btn btn-primary">CH4</button>
                    <button id="contaminante1-button" class="btn btn-primary">N2O</button>
                    <button id="contaminante2-button" class="btn btn-primary">NOx</button>
                    <button id="contaminante3-button" class="btn btn-primary">CO</button>
                    <button id="contaminante4-button" class="btn btn-primary">PM</button>
                  </ul>
                  <script>
                  $(document).ready(function() {
                      // Asigna un controlador de eventos solo a los botones dentro de la lista específica
                      $(".nav-pills button.btn-primary").click(function() {
                        // Remueve la clase "btn-selected" solo de los botones dentro de la lista específica
                        $(".nav-pills button.btn-primary").removeClass("btn-selected");
                        // Agrega la clase "btn-selected" al botón que se ha hecho clic
                        $(this).addClass("btn-selected");

                        var gasText = $(this).text();
                        var unitText = "kg";

                        if (gasText.includes("PM")) {
                            unitText = "ppm";
                        } else if (gasText !== "CO2") {
                            unitText = "g";
                        }
                        $("#graph-title").text("Émissions de " + gasText +" par type de véhicule" +" ("+unitText+")" );
                      });
                    });

                    </script>
                    
                    <style>
                    .btn-selected {
                      background-color: #fb6340; /* Cambia este color al que desees para los botones seleccionados */
                      color: white; /* Cambia este color al color de texto deseado para los botones seleccionados */
                      border-color: #fb6340;
                    }
                    </style>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales-dark" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Rédigé par Deki ©</h6>
                  <h5 class="h3 mb-0">Émissions d'équivalent économisées</h5>
                </div>
                <div class="arrow-buttons">
                  <button type="button" class="btn btn-primary btn-sm" id="retourButton">&larr; </button>
                  <button type="button" class="btn btn-secondary btn-sm" id="avantButton">&rarr;</button>
                </div>
              </div>
            </div>
            <div class="card-body">
              <!-- Tarjetas apiladas en un grid de tres columnas -->
              <div class="row">
                <div class="col-md-12"  id="card1">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Calculs pour l'iPhone 14">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Recharges de téléphone portable</h5>
                          <span class="h2 font-weight-bold mb-0" id="recharge_portable">{{recharge_portable}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="card2">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Calculs pour les MacBook Air">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Recharges d'ordinateur portable</h5>
                          <span class="h2 font-weight-bold mb-0" id="recharge_ordina">{{recharge_ordina}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="fa-solid fa-laptop"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="card3">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Calculs pour les plantations en France en termes d'absorption de CO2" >
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Hectares d'arbres plantés</h5>
                          <span class="h2 font-weight-bold mb-0" id="arbes_hec">{{arbes_hec}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow"  >
                            <i class="fa-solid fa-seedling"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard1" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Calculs pour les voyages Paris - Marseille">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Voyages en train</h5>
                          <span class="h2 font-weight-bold mb-0" id="train_voya">{{train_voya}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="fa-solid fa-train"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard2" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Calculs pour le diesel Essence/E10">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Litres de diesel</h5>
                          <span class="h2 font-weight-bold mb-0" id="diesel_E10">{{diesel_E10}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow">
                            <i class="ni ni-delivery-fast"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard3" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Calculs pour les livraisons à domicile d'UberEats">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Livraison de restauration rapide</h5>
                          <span class="h2 font-weight-bold mb-0" id="uber_livra">{{uber_livra}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow">
                            <i class="fa-brands fa-uber"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard4" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Feuilles imprimées</h5>
                          <span class="h2 font-weight-bold mb-0" id="feuilles_print">{{feuilles_print}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow">
                            <i class="fa-solid fa-print"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard5" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Emails envoyés</h5>
                          <span class="h2 font-weight-bold mb-0" id="emails">{{emails}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow">
                            <i class="fa-regular fa-envelope"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard6" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Travailleurs moyens</h5>
                          <span class="h2 font-weight-bold mb-0" id="travailleur_moyen">{{travailleur_moyen}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                            <i class="fa-solid fa-business-time"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard7" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Bouteilles d'eau consommées</h5>
                          <span class="h2 font-weight-bold mb-0" id="water_bo">{{water_bo}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow">
                            <i class="fa-solid fa-bottle-droplet"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard8" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Avec une portion moyenne de 34,16g à chaque déjeuner">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Tranches de pain pour le déjeuner</h5>
                          <span class="h2 font-weight-bold mb-0" id="pain_tranches">{{pain_tranches}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow">
                            <i class="fa-solid fa-bread-slice"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12" id="newCard9" style="display: none;" >
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body" data-toggle="tooltip"  title="Avec une portion moyenne de 13,44g">
                      <div class="row">
                        <div class="col">
                          <h5 class="card-title text-uppercase text-muted mb-0">Demie portion de fromage</h5>
                          <span class="h2 font-weight-bold mb-0" id="portion_fromage">{{portion_fromage}}</span>
                        </div>
                        <div class="col-auto">
                          <div class="icon icon-shape bg-gradient-green  text-white rounded-circle shadow">
                            <i class="fa-solid fa-cheese"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          const allCards = document.querySelectorAll('.col-md-12'); // Todas las tarjetas, originales y nuevas
          let currentIndex = 0;

          function showCurrentCards() {
            allCards.forEach(card => {
              card.style.display = 'none'; // Ocultar todas las tarjetas
            });

            for (let i = currentIndex; i < currentIndex + 3; i++) {
              if (i < allCards.length) {
                allCards[i].style.display = 'block'; // Mostrar las siguientes 3 tarjetas
              }
            }
          }

          function showNextCards() {
            currentIndex += 3;
            if (currentIndex >= allCards.length) {
              currentIndex = 0; // Volver al principio del ciclo
            }
            showCurrentCards();
          }

          function showPreviousCards() {
            currentIndex -= 3;
            if (currentIndex < 0) {
              currentIndex = allCards.length - 3; // Volver al final del ciclo
            }
            showCurrentCards();
          }

          document.getElementById('avantButton').addEventListener('click', showNextCards);
          document.getElementById('retourButton').addEventListener('click', showPreviousCards);

          // Mostrar las primeras tarjetas al cargar la página
          showCurrentCards();
          </script>
      </div>
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                  <div class="col">
                    <h6 class="text-uppercase text-muted ls-1 mb-1">Rédigé par Deki ©</h6>
                    <h5 class="h3 mb-0"  id="graph-title">Espace économisé sur les routes</h5>
                  </div>
              </div>
            </div>

            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                
                <canvas id="chart-donut" class="chart-canvas" ></canvas>
                
              </div>
              <div id="legend">
                <div class="legend-item">
                  <span class="legend-color" style="background-color: #E85127;"></span>
                  <span class="legend-label" id ="sc_vul">VUL : {{sc_vul}} m&sup2</span>
                </div>
                <div class="legend-item">
                  <span class="legend-color" style="background-color: #005347;"></span>
                  <span class="legend-label" id = "sc_deki">Deki : {{sc_deki}} m&sup2</span>
                </div>
                <div class="legend-item">
                  <span class="legend-color" style="background-color:#C9D200;"></span>
                  <span class="legend-label" id = "sc_eco">Économie : {{sc_eco}} m&sup2</span>
                </div>
              </div>
              <style> /* Estilos para la leyenda */
                .legend {
                  display: flex;
                  flex-direction: column;
                  margin-left: 20px; /* Espacio entre el gráfico y la leyenda */
                }
                
                .legend-item {
                  display: flex;
                  align-items: center;
                  margin-bottom: 8px; /* Espacio entre elementos de la leyenda */
                }
                
                .legend-color {
                  width: 20px;
                  height: 20px;
                  margin-right: 8px; /* Espacio entre el cuadro de color y el nombre */
                  border-radius: 20%;
                }
                </style>

            </div>
          </div>
        </div>


        <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Rédigé par Deki ©</h6>
                  <h3 class="mb-0">Indicateurs d'Empreinte Carbone dans les Livraisons (KPS)</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">CO2 économisé</th>
                    <th scope="col">Valeur CO2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      Par chaque livraison    
                    </th>
                    <td id="livra_KPI">
                      {{livra_KPI}} Kg
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Par chaque km
                    </th>
                    <td id="km_KPI">
                      {{km_KPI}} Kg 
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Par chaque colis
                    </th>
                    <td id="coli_KPI">
                      {{coli_KPI}} Kg 
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Par chaque kilos de poids
                    </th>
                    <td id="poids_KPI">
                      {{poids_KPI}} G 
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Par m&sup2 de congestion évitée    
                    </th>
                    <td id="m2_KPI">
                      {{m2_KPI}} G
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Par chaque de heure passé
                    </th>
                    <td id="temps">
                      {{temps}} Kg 
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
       
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
  <script>
    window.driving = {{ driving_data|safe}}
    window.cycling = {{ cycling_data|safe}}
    window.deki_vul = {{ deki_vul_data|safe}}

    window.VUL_met = {{ VUL_met_data|safe}}
    window.VUL_no2 = {{ VUL_no2_data|safe}}
    window.VUL_NOx = {{ VUL_NOx_data|safe}}
    window.VUL_CO = {{ VUL_CO_data|safe}}
    window.VUL_PM = {{ VUL_PM_data|safe}}

    window.deki_met = {{ deki_met_data|safe}}
    window.deki_no2 = {{ deki_no2_data|safe}}
    window.deki_NOx = {{ deki_NOx_data|safe}}
    window.deki_CO = {{ deki_CO_data|safe}}
    window.deki_PM = {{ deki_PM_data|safe}}

    window.deki_vul_met = {{ deki_vul_met_data|safe}}
    window.deki_vul_no2 = {{ deki_vul_no2_data|safe}}
    window.deki_vul_NOx = {{ deki_vul_NOx_data|safe}}
    window.deki_vul_CO = {{ deki_vul_CO_data|safe}}
    window.deki_vul_PM = {{ deki_vul_PM_data|safe}}

    window.sc_eco = {{ sc_eco|safe}}
    window.sc_vul = {{ sc_vul|safe}}
    window.sc_deki = {{ sc_deki|safe}}
    window.newuserf = {{ newuserf|default:"null"|safe}}

    window.livra_KPI = {{ livra_KPI|safe}}
    window.km_KPI = {{ km_KPI|safe}}
    window.coli_KPI = {{coli_KPI|safe}}
    window.poids_KPI = {{poids_KPI|safe}}
    window.m2_KPI = {{m2_KPI|safe}}
    window.temps = {{temps|safe}}

    console.log("Valor de nu:", window.newuserf );


  </script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <script src="/static/assets/js/websocket.js"></script>



  





{% endblock javascripts %}
